<html><head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster+Two|Poiret+One" rel="stylesheet" type="text/css">
<link href="css/lavish-bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Wrap all page content here -->
	<div id="wrap">

		<!-- Static navbar -->
		<div class="container">
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Antique Cars </a>
				</div>
				<div class="collapse navbar-collapse">
					<ul id="navPlaceHolder" class="nav navbar-nav">
						<script id="navTemplate" type="text/template">
						<li id="category<%= id %>" ><a href="#<%= name %>"><%= name.charAt(0).toUpperCase() + name.slice(1) %></a></li>
					</script>
					   
                        <li id="category2"><a href="index.html">Home</a></li>
                        
						<li id="category1"><a href="information.html">Information</a></li>
					
						<li id="category2"><a href="motors.html">Engines</a></li>
					
						<li id="category10002"><a href="contact.html">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=A4MVUK9BHMHZ4">View Cart</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

	  <div align="center" id="body" class="container">
	  <article>
	  <h1>Contact Us</h1>
	   <address>
	   <br>
	   <b>Phone Number:</b> 226-600-0507<br>
	   <b>Email:</b> <a href="mailto:mjallala9505@conestogac.on.ca">mjallala9505@conestogac.on.ca </a> 
	   <br>
	   </address>
	  <div class="map">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2895.6973408370573!2d-80.47871339999999!3d43.4669155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf4a1d7cd7f29%3A0xc5f6b0fc00b1a370!2s900+Guelph+St+%23204%2C+Kitchener%2C+ON+N2H+5Z2!5e0!3m2!1sen!2sca!4v1413859469778" width="600" height="450" frameborder="0" style="border:0"></iframe>
       </div>
	  
	   </article>
	  </div><!-- end body -->
	</div>
	<div id="about" class="container" style="display: none;">About Page Here</div>
	<div id="contact" class="container" style="display: none;">Contact Page Here</div>
	<div class="container">
		<div id="footer">
			<p class="text-muted credit">
				© 2014 <a href="mailto:mjallala9505@gmail.com">Mahmoud Jallala</a>
			</p>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script>
		jQuery("document").ready(function() {
			jQuery("#myCarousel1").carousel();
			jQuery("#myCarousel2").carousel({
				interval : false
			});
		});
	</script>
	<!-- underscore is used to render the template with the object from the api -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<!-- backbone is a router that respects the back button -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<!-- this is our javascript -->
	<script src="js/swag.js"></script>


</body></html>