<html><head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster+Two|Poiret+One" rel="stylesheet" type="text/css">
<link href="css/lavish-bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Wrap all page content here -->
	<div id="wrap">

		<!-- Static navbar -->
		<div class="container">
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Antique Cars</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul id="navPlaceHolder" class="nav navbar-nav">
						<script id="navTemplate" type="text/template">
						<li id="category<%= id %>" ><a href="#<%= name %>"><%= name.charAt(0).toUpperCase() + name.slice(1) %></a></li>
					</script>
                        <li id="category2"><a href="index.html">Home</a></li>
					
						<li id="category1"><a href="information.html">Information</a></li>
					
						<li id="category2"><a href="motors.html">Engines</a></li>
					
						<li id="category10002"><a href="contact.html">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=A4MVUK9BHMHZ4">View Cart</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

		<!-- Begin page content -->
		<div id="product" class="container">
			
			
			<div data-ride="carousel" class="carousel slide" id="myCarousel2">
				<div id="myCarousel2PlaceHolder" class="carousel-inner"><div class="item active">
					<div class="col-md-3">
						<a href="#1/1">
						<img alt="Antique Car Run Buffalo" src="images/thumbs/Greg_Gjerdingen_Lunch_Stop_NLNB_Antique_Car_Run_Buffalo.JPG.png" title="Antique Car Run_Buffalo">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/3">
						<img alt="Andrew Antique car" src="images/thumbs/Andrew_Antique_car.JPG.png" title="Andrew Antique car">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/2">
						<img alt="1982 Santa Claus Parade" src="images/thumbs/Bill_Stevenson_Antique_car_by_Ambramsky's_1982_Santa_Claus_Parade.JPG.png" title="1982 Santa Claus Parade">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/4">
						<img alt="26th Annual New London to New Brighton Antique Car Run" src="images/thumbs/Greg_Gjerdingen_26th_Annual_New_London_to_New_Brighton_Antique_Car_Run.JPG.png" title="26th Annual New London to New Brighton Antique Car Run">
						</a>
					</div>
				</div><div class="item">
					<div class="col-md-3">
						<a href="#1/5">
						<img alt="Run_Litchfield" src="images/thumbs/Greg_Gjerdingen_Second_Stop_NLNB_Antique_Car_Run_Litchfield.jpg.png" title="Run_Litchfield">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/6">
						<img alt="Vancouver Police Car" src="images/thumbs/Blue_and_white_army_Antique_Vancouver_Police_car.JPG.png" title="Vancouver Police Car">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/7">
						<img alt="First Generation cars" src="images/thumbs/Greg_Gjerdingen_Finish_Line_NLNB_Antique_Car_Run_New_Brighton.jpg.png" title="First Generation cars">
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="#1/8">
						<img alt="Running Antique" src="images/thumbs/Greg_Gjerdingen_Start_NLNB_Antique_Car_Run.jpg.png" title="Running Antique">
						</a>
					</div>
				</div></div>
				<a data-slide="prev" href="#myCarousel2" class="left carousel-control"><i class="fa fa-arrow-left"></i></a>
				<a data-slide="next" href="#myCarousel2" class="right carousel-control"><i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
       <div class="container">
				<h1 align="center">Antique car</h1>
				<div  class="row">
                    <div class="container"><p class="lead">From Wikipedia, the free encyclopedia</p>  
                        <p class="lead">Ford Model T. An antique car, in the general sense of the term, is an automobile that is an antique. Narrower definitions vary based on how old a car must be to qualify. In the United States, an antique car is generally defined as a car over 25 years of age, this being the definition used by the Antique Automobile Club of America.[1] However, the legal definitions for the purpose of antique vehicle registration vary widely. The antique car era includes the Veteran era, the Brass era, and the Vintage era, which range from the beginning of the automobile up to the 1930s. Later cars are often described as classic cars. In original or originally restored condition antiques are very valuable and are usually either protected and stored or exhibited in car shows but are very rarely driven </p>
                    </div>
								
				</div>
        
        <h1 align="center">Classic Car</h1>
				<div  class="row">
                    <div class="container"><p class="lead">From Wikipedia, the free encyclopedia</p>  
                        <p class="lead">A classic car is an older automobile; the exact definition varies around the world. The Classic Car Club of America maintains that a car must be between 30 and 49 years old to be a classic, while cars between 50 and 99 fall into a pre-antique class, and cars 100 years and older fall into the Antique Class. In the UK, 'classic cars' range from veteran (pre–First World War), to vintage (1919–1930), to post-vintage (1930s). Post–Second World War classic cars are not so precisely defined. </p>
                    </div>
								
				</div>
         
		</div>	
	
	</div>
	<div id="about" class="container" style="display: none;">About Page Here</div>
	<div id="contact" class="container" style="display: none;">Contact Page Here</div>
	<div class="container">
		<div id="footer">
			<p class="text-muted credit">
				© 2014 <a href="mailto:mjallala9505@gmail.com">Mahmoud Jallala</a>
			</p>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script>
		jQuery("document").ready(function() {
			jQuery("#myCarousel1").carousel();
			jQuery("#myCarousel2").carousel({
				interval : false
			});
		});
	</script>
	<!-- underscore is used to render the template with the object from the api -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<!-- backbone is a router that respects the back button -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<!-- this is our javascript -->
	<script src="js/swag.js"></script>


</body></html>